/* element css */

* {
    box-sizing: border-box;
  }

body{
    /* adjusts the body of the site */
    color: rgb(177, 224, 255);
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: auto;
    font-style: italic;
}

h1{
    color: rgb(177, 224, 255);
    border:4px ridge  rgb(177, 224, 255);
    border-width: 7px;
    padding: 20px;
    background-color: rgb(43, 136, 223);
    box-sizing: border-box;
    font-size: 30px;
    max-width: 300px;
}
h2{
    color: rgb(177, 224, 255);
    border:3px ridge  rgb(177, 224, 255);
    border-width: 6px;
    padding: 15px;
    background-color: rgb(43, 136, 223);
    font-size: 22px;
}  
h3{
    color: rgb(182, 226, 255);
    border:4px ridge  rgb(177, 224, 255);
    border-width: 7px;
    padding: 15px;
    background-color: rgb(43, 136, 223);
    font-size: 20px;
}

p{
    color: rgb(182, 226, 255);
    background-color: rgb(43, 136, 223);
    border:4px ridge  rgb(177, 224, 255);
    border-radius: 25px;
    padding: 10px;
    font-size: 18px;
}

a{
    color: rgb(220, 241, 255);
    text-decoration: none;
}

img{
    border: 22px ridge rgb(43, 136, 223);
    width:300px;
    position: relative;
    margin: 10px;
}

hr {
    color: rgb(177, 224, 255);
    background-color: rgb(103, 182, 255);
    border:5px ridge  rgb(77, 184, 255);
    border-radius: 25px;
    width: 90%;
    margin-top: 40px;
    margin-bottom: 40px;
    
}

/* Semantics */

footer {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 18px;
}


/* Lists */

#ol1{
    border:5px ridge  rgb(177, 224, 255);
    background-color:rgb(24, 121, 211);
    border-radius: 5px;
    padding:10px;
    font-size: 18px;
    max-width: 215px;
    list-style-type:none;
}


.li1 {
    padding: 9px;
}


/* Button css */

.button{
    color: rgb(177, 224, 255);
    background-color: rgb(43, 136, 223);
    border:3px ridge  rgb(177, 224, 255);
    border-radius: 10px;
    padding: 5px;
}

.button:hover {
    background-color: rgb(24, 121, 211);
    text-decoration: none;
}

.button:active{
    border-width: 3px;
    border-color:  rgb(177, 224, 255);
}

/* Width adjustment */

#H1{
    max-width: 250px;
}

#H2{
    max-width: 150px;
}

#p1{
    max-width: 400px;
}

/* Grid */

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}
