body{
    color: rgb(177, 224, 255);
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    font-style: italic;

}


h1{
    color: rgb(177, 224, 255);
    border:4px ridge  rgb(177, 224, 255);
    border-width: 7px;
    padding: 20px;
    background-color: rgb(43, 136, 223);
    box-sizing: border-box;
    font-size: 30px;
}
h2{
    color: rgb(177, 224, 255);
    border:4px ridge  rgb(177, 224, 255);
    border-width: 7px;
    padding: 20px;
    background-color: rgb(43, 136, 223);
    font-size: 26px;
}  
h3{
    color: rgb(177, 224, 255);
    border:4px ridge  rgb(177, 224, 255);
    border-width: 7px;
    padding: 15px;
    background-color: rgb(43, 136, 223);
    font-size: 20px;
}

p{
    color: rgb(177, 224, 255);
    background-color: rgb(43, 136, 223);
    border:4px ridge  rgb(177, 224, 255);
    border-radius: 25px;
    padding: 10px;
    font-size: 18px;
    max-width: 600px;
}

div{
    color: rgb(177, 224, 255);
    background-color: rgb(43, 136, 223);
    border:4px ridge  rgb(177, 224, 255);
    border-radius: 25px;
    padding: 5px;
    font-size: 18px;
}

a{
    color: rgb(232, 246, 255);
    text-decoration: none;
}

img {
    border: 22px ridge rgb(43, 136, 223);
    width:200px;
    position: relative;
}

hr {
    color: rgb(177, 224, 255);
    background-color: rgb(103, 182, 255);
    border:5px ridge  rgb(77, 184, 255);
    border-radius: 25px;
    width: 90%;
    margin-top: 40px;
    margin-bottom: 40px;
    
}

ol{
    border:4px ridge  rgb(177, 224, 255);
    border-radius: 25px;
    background-color:rgb(43, 136, 223);
    padding: 20px;
    font-size: 18px;
}

#E{
    max-width: 265px
}

#I{
    max-width: 240px
}

#B{
    max-width: 112px
}

#F{
    max-width: 230px
}

#S{
    max-width: 190px
}

#imgE{
    width: 200px
}

#ol1{
    max-width: 180px;
}

#ol2{
    max-width: 400px;
}

#li1Top{
    color: rgb(177, 224, 255);
    background-color: rgb(43, 136, 223);
    border:4px ridge  rgb(177, 224, 255); 
    padding: 10px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

#li1{
    color: rgb(177, 224, 255);
    background-color: rgb(43, 136, 223);
    border:4px ridge  rgb(177, 224, 255); 
    padding: 10px;
}

#li1Bot{
    color: rgb(177, 224, 255);
    background-color: rgb(43, 136, 223);
    border:4px ridge  rgb(177, 224, 255); 
    padding: 10px;
    border-bottom-left-radius: 5px ;
    border-bottom-right-radius: 5px ;
}

a:hover{
    background-color: rgb(24, 121, 211);
}